/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px;
}

.nav-link {
    cursor: pointer;
}

.toolbar {
    margin-bottom: 1rem;
}

.toolbar .btn {
    margin-right: 1rem;
}

.card .card-body .btn {
    margin-right: 1rem;
}

.card .card-body .badge {
    margin-right: 0.5rem;
}

.card {
    margin-bottom: 1rem;
}

div.applet {
    background: #DEDEDE;
    border: 1px solid #333;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
}