<ion-header>
  <ion-toolbar>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>
          <ion-icon name="search" slot="left" color="dark"></ion-icon>
      </ion-label>
      <ion-input #searchQuery placeholder="Search Articles" (input)="searchArticles($event.target.value)"></ion-input>
      <ion-icon slot="end" name="close-circle-outline" (click)="clearSearchQuery(searchQuery)" *ngIf="searchQuery.value"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let article of currentArticles" [routerLink]="['/article', article.id]" detail>
      <ion-label text-wrap>
        <h2>{{article.title}}</h2>
        <p>{{article.text | slice:0:80}}...</p>
        <p>
          <ng-container *ngFor="let tag of article.tags">
            <ion-badge>{{tag}}</ion-badge>&nbsp;
          </ng-container>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
