<ion-header>
  <ion-toolbar>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMin="100" pullMax="100" (ionRefresh)="reloadArticles($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to reload articles."
      refreshingSpinner="circles" refreshingText="Reloading articles..."></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar #searchbar placeholder="Search Articles" (ionChange)="searchArticles($event.target.value)"></ion-searchbar>
  <ion-list lines="full" #articlesList>
    <ion-item-sliding *ngFor="let article of currentArticles">
      <ion-item [routerLink]="['/article', article.id]" detail>
        <ion-label text-wrap [color]="articleRead(article.id) ? 'medium' : null">
          <h2>{{article.title}}</h2>
          <p>{{article.excerpt | slice:0:80}}...</p>
          <p>
            <ng-container *ngFor="let tag of article.tags">
              <ion-badge>{{tag}}</ion-badge>&nbsp;
            </ng-container>
          </p>
        </ion-label>
        <ion-icon name="book" *ngIf="articleRead(article.id)" color="medium" slot="end"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="markUnread(article.id, articlesList)" *ngIf="articleRead(article.id)">Mark Unread
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>